.mini-head{
    display: flex;
    align-items: center;
}

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 12px 10px;
    background-color: orange;
    /* margin: 10px 15px; */
  }

  .title{
      padding-right: 20px;
  }

  .header-inside{
      justify-content: flex-end !important;
  }