.land-box{
    display: flex;
    justify-content: space-between;
    /* margin:10px; */
}
.welcome{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
.footer{
    /* position: fixed;
    bottom: 0; */
    /* width: 100%; */
    background-color: orange;
    /* display: flex; */
    /* padding: 20px; */
}
.call{
    margin-left: 20px;
}
.located{
    margin-right: 20px;
}
.BidPic{
    background-image: url("../images/bidpic.jpg");
     background-size: 1000px;
    height: 500px;
    width: 1000px;
    background-repeat: no-repeat;
}